<!DOCTYPE html>
<html>
<head>
    <title>Hi There!</title>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./static/madlibs.css">
</head>
<body>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    <h1>Hi There!</h1>
    <form action="/greet">
        <label>What's your name? <input class='textbox' type="text" name="person"></label>
        <input class='submit' type="submit">
    </form>
</body>
</html>
