<!DOCTYPE html>
<html>
<head>
  <title>Madlib!</title>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./static/madlibs.css">
</head>
<body>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    <img src="https://simplyfantasticbooks.files.wordpress.com/2015/03/green_eggs_and_ham.gif" alt="Green Eggs and Ham" id="green-eggs">
    <h1>{{ color|title }} {{food1|title}} and {{food2|title}}!</h1>

    <p>
    Do you like <br>
    {{color|title}} {{food1}} and {{food2}}<br>

    <br>I do not like them, <br>
    {{ person }}-I-am.<br>
    I do not like<br>
    {{color|title}} {{food1}} and {{food2}}.<br>

    <br>Would you like them <br>
    Here or there?<br>

    <br>I would not like them <br>
    here or there.<br>
    I would not like them <br>
    anywhere.<br>
    I do not like <br>
    {{color|title}} {{food1}} and {{food2}}.<br>
    I do not like them, <br>
    {{ person }}-I-am<br>

    <br>Would you like them<br>
    in a house?<br>
    {% if animals %}
        {% for animal in animals %}
            Would you like them<br>
            with a {{animal}}?<br>
        {% endfor %}
    {% endif %}

    <br>I do not like them<br>
    in a house.<br>
    {% if animals %}
        {% for animal in animals %}
            I do not like them<br>
            with a {{animal}}.<br>
        {% endfor %}
    {% endif %}
    I do not like them<br>
    here or there.<br>
    I do not like them<br>
    anywhere.<br>
    I do not like {{color}} {{food1}} and {{food2}}.<br>
    I do not like them, {{ person }}-I-am.<br>
    </p>
</body>
</html>























































































































