<!DOCTYPE html>
<html>
<head>
  <title>Madlib!</title>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./static/madlibs.css">
</head>
<body>
    <div id="left"></div>
    <div id="right"></div>
    <div id="top"></div>
    <div id="bottom"></div>
    <img src="http://vignette3.wikia.nocookie.net/seuss/images/3/3c/One_fish_two_fish.png/revision/latest?cb=20121110004207" alt="one fish two fish" id="green-eggs">
    <h1>One {{animals[0]|title}}, Two {{ animals[0]|title}}, {{ color|title }} {{ animals[0]|title}}, Blue {{ animals[0]|title}}</h1>
    <p>
    One {{animals[0]}} <br>
    Two {{animals[0]}} <br>
    {{ color|title }} {{animals[0]}} <br>
    Blue {{animals[0]}}.<br>
    Black {{animals[0]}}<br>
    Blue {{animals[0]}}<br>
    Old {{animals[0]}}<br>
    New {{animals[0]}}.<br>
    This one has a {{ adjective }} {{ noun }}.<br>
    This one likes to eat {{ adjective }} {{ food1 }}.<br>
    Say! What a lot<br>
    Of {{ animals[0] }}s there are.<br>
    Yes. Some are {{ color }}. And some are blue.<br>
    Some are old. And some are new.<br>
    Some are sad.<br>
    And some are glad.<br>
    And some are very, very bad.<br>
    Why are they<br>
    Sad and glad and bad?<br>
    I do not know.<br>
    Go ask {{ person }}.
    And bring her some {{ food2 }}. <br>
    </p>
</body>
</html>
